@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Lato-Heavy';
    src: url('../fonts/Lato-Heavy.woff2') format('woff2'),
        url('../fonts/Lato-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@mixin reg {
    font-family: 'Lato-Regular', sans-serif;
    font-weight: 400;
}

@mixin bold {
    font-family: 'Lato-Heavy', sans-serif;
    font-weight: 900;
}